@import "./global.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: $font-family-normal;
  font-size: $font-size-normal;
  font-weight: $font-weight-normal;
  transition: $time-transition-normal;
}

.container {
  width: 90%;
  margin: 0px auto;

  @media #{$screen-large} {
    width: 85%;
  }

  @media #{$screen-extra-large} {
    width: 80%;
    max-width: 1240px;
  }
}

.heading {
  padding: 8px 0px;
  font-size: 1em;
  font-weight: $font-weight-bold;
  color: $color-heading-light;
  line-height: 1.2em;
  text-align: center;
  transition: $time-transition-normal;

  @media #{$screen-medium} {
    text-align: left;
  }

  &--large {
    font-size: 2em;

    @media #{$screen-medium} {
      font-size: 2.25em;
    }

    @media #{$screen-large} {
      font-size: 2.5em;
    }

    @media #{$screen-extra-large} {
      font-size: 2.75em;
    }
  }

  &--small {
    font-size: 1.5em;

    @media #{$screen-medium} {
      font-size: 1.75em;
    }

    @media #{$screen-large} {
      font-size: 2em;
    }
  }

  &--smaller {
    font-size: 1em;

    @media #{$screen-medium} {
      font-size: 1.15em;
    }

    @media #{$screen-large} {
      font-size: 1.3em;
    }
  }

  &--left {
    text-align: left;
  }

  &--center {
    @media #{$screen-medium} {
      text-align: center;
    }
  }

  &--white {
    color: $color-light-grayish-blue;
  }
}

.text {
  font-size: 1em;
  color: $color-text-light;
  line-height: 1.7em;
  text-align: center;
  transition: $time-transition-normal;

  @media #{$screen-medium} {
    text-align: left;
  }

  &--left {
    text-align: left;
  }

  &--center {
    @media #{$screen-medium} {
      text-align: center;
    }
  }

  &--white {
    color: $color-light-grayish-blue;
  }

  &--small {
    font-size: 0.825em;
  }

  &--smaller {
    font-size: 0.75em;
  }
}

.button {
  display: block;
  padding: 16px;
  background-color: transparent;
  color: $color-heading-light;
  border: none;
  border-radius: 4px;
  transition-property: color, background-color;
  transition-duration: $time-transition-normal;

  &:hover {
    padding: 14px;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &--low-padding {
    padding: 4px;

    &:hover {
      padding: 2px;
    }
  }

  &--blue {
    background-color: $color-soft-blue;
    color: $color-light-grayish-blue;

    &:hover {
      background-color: $color-light-grayish-blue;
      color: $color-soft-blue;
      border: 2px solid $color-soft-blue;
    }
  }

  &--light-dark {
    background-color: $color-button-default-background-light;

    &:hover {
      background-color: $color-heading-light;
      color: $color-button-default-background-light;
    }
  }
}

.link {
  text-decoration: none;

  &--small {
    font-size: 0.75em;
  }
}

.logo {
  position: relative;
}

.logo-svg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  &__text {
    fill: $color-black;
  }

  &--dark .logo-svg__text {
    fill: $color-white;
  }

  &--nav {
    .logo-svg__text,
    .logo-svg__circle {
      fill: $color-white;
    }

    .logo-svg__icon {
      fill: transparent;
    }
  }
}

.main--dark {
  .heading {
    color: $color-heading-dark;

    &--white {
      color: $color-light-grayish-blue;
    }
  }

  .text {
    color: $color-text-dark;

    &--white {
      color: $color-light-grayish-blue;
    }
  }

  .button {
    color: $color-white;

    &--blue {
      background-color: $color-very-dark-blue;

      &:hover {
        background-color: $color-heading-dark;
        color: $color-very-dark-blue;
        border-color: $color-very-dark-blue;
      }
    }

    &--light-dark {
      background-color: $color-button-default-background-dark;

      &:hover {
        background-color: $color-heading-dark;
        color: $color-button-default-background-dark;
      }
    }
  }

  .logo-svg {
    &__text {
      fill: $color-white;
    }
  }
}
